# For steps to creating an application, view the Readme.md
# Rename to secrets.properties
#


# Create your own keystore file in app folder
storeFile=./FocusPodcast.jks
storePassword=***
keyAlias=***
keyPassword=***

podcastindexApiKey=
podcastindexApiSecret=

# leave it blank
googleAdsKey=
