storeFile=./focusPodcast.jks
storePassword=
keyAlias=
keyPassword=

podcastindexApiKey="optional"
podcastindexApiSecret="optional"

alipayAppPrivateKey="no-need"
alipayAppPublicKey="no-need"
alipayPublicKey="no-need"
alipayAppId="no-need"
alipayPid="no-need"
pocketAdAppId="no-need"
googlePayPublicKey="no-need"
googleAdsKey=no-need
dropboxScheme="no-need"
leanId="no-need"
leanKey="no-need"
leanAbroadId="no-need"
leanAbroadKey="no-need"