<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <!-- targetSDK=34 前台服务类型是必填项 requires permissions https://developer.android.com/about/versions/14/changes/fgs-types-required?hl=zh-cn#data-sync -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:supportsRtl="true">

        <service
            android:name="allen.town.podcast.core.service.download.DownloadService"
            android:foregroundServiceType="dataSync"
            android:enabled="true" />

        <service android:name="allen.town.podcast.core.service.playback.PlaybackService"
            android:label="@string/app_name"
            android:foregroundServiceType="mediaPlayback"
            android:enabled="true"
            android:exported="true"
            tools:ignore="ExportedService">

            <intent-filter>
                <action android:name="android.media.browse.MediaBrowserService"/>
            </intent-filter>
        </service>

        <receiver
            android:name="allen.town.podcast.core.receiver.MediaButtonReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
            <intent-filter>
                <action android:name="allen.town.podcast.NOTIFY_BUTTON_RECEIVER" />
            </intent-filter>
        </receiver>

        <receiver android:name="allen.town.podcast.core.receiver.FeedsSyncReceiver"
            android:label="@string/feed_update_receiver_name"
            android:exported="true"
            tools:ignore="ExportedReceiver" /> <!-- allow feeds update to be triggered by external apps -->
    </application>

    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="https" />
        </intent>
    </queries>

</manifest>
