* {
     color: %s;
     overflow-wrap: break-word;
}
a {
     font-style: normal;
     text-decoration: none;
     font-weight: normal;
     color: %s;
     text-decoration: none;
}
a.timecode {
     color: %s;
}
img, iframe {
     display: block;
     margin: 10 auto;
     max-width: 100%%;
     height: auto;
     border-radius: 8px;
}
body {
     padding: %dpx %dpx %dpx %dpx;
}
p#apNoShownotes {
    position: fixed;
    top: 50%%;
    left: 50%%;
    height: auto;
    transform: translate(-50%%, -50%%);
    text-align: center;
    -webkit-text-size-adjust: none;
}
