<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <queries>
        <!-- allow queries from the Dropbox official app for verification during the app-to-app authentication flow
https://github.com/dropbox/dropbox-sdk-java -->
        <package android:name="com.dropbox.android" />
    </queries>

    <application>
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="${googleAdsKey}"/>
        <activity
            android:name="allen.town.podcast.activity.DriveBackupActivity"
            android:theme="@style/MainTheme" />
        <activity
            android:name="com.dropbox.core.android.AuthActivity"
            android:exported="true"
            android:configChanges="orientation|keyboard"
            android:launchMode="singleTask">
            <intent-filter>

                <!-- Change this to be db- followed by your app key -->
                <data android:scheme="${dropboxScheme}" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>
