<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="${googleAdsKey}"/>
        <activity
            android:name="allen.town.podcast.activity.DriveBackupActivity"
            android:theme="@style/MainTheme" />
    </application>

</manifest>
